<section id="artists" class="artists">
  <div class="container">
    <div class="artists__section">
      <h2 class="artists__title">Artists</h2>
      <p class="artists__subtitle">Explore Your New Favorite Artists</p>
      <ul class="artists__list"></ul>
      <div class="artists__load-more-wrapper">
        <div class="artists__loader-wrapper">
          <span class="loader visually-hidden"></span>
        </div>
        <button class="artists__load-more-btn">
          Load More
          <svg
            class="artists__scroll-icon"
            width="24"
            height="24"
            fill="#ffffff"
          >
            <use href="img/icons.svg#icon_artists_down"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
