<div id="globalLoader" class="global-loader global-loader--hidden">
  <div id="artistDataLoader" class="artist-loader artist-loader--hidden">
    <div class="artist-loader__spinner"></div>
  </div>
</div>
<div
  class="modal modal--hidden open-artist-modal"
  id="artistModal"
  role="dialog"
  aria-modal="true"
  aria-labelledby="artistModalTitle"
>
  <div class="modal__content container" role="document">
    <button
      type="button"
      class="modal__close-btn"
      aria-label="Close the window"
      title="Close the window"
    ></button>

    <section class="modal__artist">
      <h2 id="artistModalTitle" class="modal__artist-name"></h2>
      <div class="modal__artist-container">
        <div class="modal__artist-header">
          <img
            src="https://placehold.co/200x200?text=Loading"
            alt="Artist photo"
            class="modal__artist-thumb"
          />
        </div>
        <ul class="modal__artist-info">
          <li class="modal__info-item modal__info-years">
            <p class="modal__info-label">Years active:</p>
            <p class="modal__info-value modal__artist-years"></p>
          </li>
          <li class="modal__info-item modal__info-gender">
            <p class="modal__info-label">Sex:</p>
            <span class="modal__info-value modal__artist-gender"></span>
          </li>
          <li class="modal__info-item modal__info-members">
            <p class="modal__info-label">Members:</p>
            <span class="modal__info-value modal__artist-members"></span>
          </li>
          <li class="modal__info-item modal__info-country">
            <p class="modal__info-label">Country:</p>
            <span class="modal__info-value modal__artist-country"></span>
          </li>
          <li class="modal__info-item modal__info-bio">
            <p class="modal__info-title">Biography:</p>
            <p class="modal__info-description modal__artist-bio"></p>
          </li>
          <li class="modal__info-item modal__info-genres">
            <p class="modal__info-genres-title visually-hidden"></p>
            <div class="modal__genres-list modal__artist-genres"></div>
          </li>
        </ul>
      </div>

      <h2 class="modal__albums-title">Albums</h2>
      <div class="modal__albums-container"></div>
    </section>
  </div>
</div>
