<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__top">
      <nav class="footer__nav">
        <a href="index.html" class="footer__logo-link">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="/img/logo-footer-tablet.webp"
              width="116"
              height="45"
            />
            <img
              src="/img/logo-footer.webp"
              alt="ArtistsHub"
              class="footer__logo"
              width="106"
              height="30"
            />
          </picture>
        </a>
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="#artists" class="footer__nav-link">Artists</a>
          </li>
          <li class="footer__nav-item">
            <a href="#about-us" class="footer__nav-link">About us</a>
          </li>
          <li class="footer__nav-item">
            <a href="#feedback-modal" class="footer__nav-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <div class="footer__bottom">
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a
              href="https://www.instagram.com/"
              class="footer__social-link"
              aria-label="Instagram"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__social-icon" width="40" height="40">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a
              href="https://www.facebook.com/"
              class="footer__social-link"
              aria-label="Facebook"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__social-icon" width="40" height="40">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a
              href="https://www.youtube.com/"
              class="footer__social-link"
              aria-label="YouTube"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__social-icon" width="40" height="40">
                <use href="/img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="copyright">
          <p class="footer__copyright">
            &#xa9; 2025 ArtistsHub. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
