<header class="header" id="header">
  <div class="container">
    <nav class="header-nav" aria-label="main menu">
      <a href="./index.html" class="logo-link logo">
        <img
          src="./img/logo-header.webp"
          alt="Artists Hub logo"
          width="119"
          height="51"
          loading="lazy"
        />
      </a>

      <ul class="header-menu">
        <li><a href="#artists" class="header-link">Artists</a></li>
        <li><a href="#about" class="header-link">About Us</a></li>
        <li><a href="#feedback" class="header-link">Reviews</a></li>
      </ul>

      <button
        type="button"
        class="mob-menu-btn"
        aria-label="Открыть мобильное меню"
      >
        <svg class="menu-icon" width="32" height="22">
          <use href="./img/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
