.artists {
  padding: 64px 0;
}

.artists__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 16px;
}
.artists__subtitle {
  display: flex;
  width: 288px;
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 32px;
}

.artists__card-image {
  border-radius: 16px;
  width: 288px;
  height: 177px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 24px;
}
.artists__card-genre {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 4px 10px;
  background: rgba(255, 255, 255, 0);

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.artists__card-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 288px;
  margin-bottom: 16px;
}
.artists__card-name {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 8px;
}
.artists__card-description {
  width: 288px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 24px;
}
.artists__card-btn {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 1.5px 0;

  background-color: #060307;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  gap: 8px;
}
.artists__list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  margin-bottom: 32px;
}

.artists__dropdown-menu { display: none; }
.artists__dropdown-menu.is-open { display: block; }


.artists__card-btn-icon {
  fill: #fff;
}

.artists__load-more-btn {
  display: flex;
  border-radius: 12px;
  border: none;
  padding: 11px 24px;
  align-items: center;
  justify-content: center;
  gap: 12px;

  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #764191;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  position: relative;
}

.artists__load-more-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.artists__card-btn {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 1.5px 0;
  transition: all 0.3s ease-in-out;
  color: #fff;
  fill: #fff;
  gap: 8px;
}

.artists__card-btn:hover {
  color: #764191;
  fill: #764191;
}

@media screen and (min-width: 768px) {
  .artists__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 16px;
  }

  .artists__subtitle {
    display: flex;
    width: 704px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #ffffff;
    margin-bottom: 32px;
  }

  .artists__card-image {
    border-radius: 16px;
    width: 704px;
    height: 432px;
    object-fit: cover;
    margin-bottom: 24px;
  }
  .artists__card-genre {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    padding: 4px 10px;
    background: rgba(255, 255, 255, 0);

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    align-items: center;
    justify-content: center;
  }

  .artists__card-genres {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 704px;
    margin-bottom: 16px;
  }
  .artists__card-name {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 8px;
  }
  .artists__card-description {
    width: 704px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 24px;
  }
  .artists__card-btn {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 1.5px 0;

    background-color: #060307;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    gap: 8px;
  }
  .artists__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 32px;
  }
  .artists__load-more-btn {
    display: flex;
    border-radius: 12px;
    border: none;
    padding: 11px 109px;
    align-items: center;
    justify-content: center;
    gap: 12px;

    box-shadow:
      0 1px 2px 0 rgba(6, 3, 7, 0.05),
      inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
      inset 0 0 0 1px rgba(6, 3, 7, 0.15),
      inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
      inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background-color: #764191;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
    position: relative;
  }
  .artists__load-more-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .artists {
    padding: 112px 0;
  }
  .artists__subtitle {
    display: flex;
    width: 523px;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #ffffff;
    margin-bottom: 80px;
  }

  .artists__card {
    width: 640px;
  }
  .artists__card-image {
    border-radius: 16px;
    width: 640px;
    height: 393px;
  }

  .artists__card-description {
    width: 640px;
  }

  .artists__list {
    margin-bottom: 64px;
  }

  .artists__load-more-btn {
    padding: 10px 24px;
  }
  .artists__load-more-wrapper {
    align-items: center;
    justify-content: center;
  }
}

.artists__loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.loader {
  border: 2px solid;
  border-color: transparent #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  z-index: 2;
  pointer-events: none;
}

/* Лоадер Load more */
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 24px solid;
  border-color: transparent rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


