* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  background: #060307;
  line-height: 1.5;
}

h1,
h2 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  color: #fff;
  background: #060307;
}
html {
  scroll-behavior: smooth;
}
