.feedback-section {
  background-color: #000; 
  color: #fff;
  padding: 60px 0;
}
/* Прихований заголовок для секції */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.stars-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
}
.star {
  font-size: 24px;
  color: #ffffff; 
}

.star.filled {
  color: #7e57c2; 
}
.swiper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;  
  display: flex;
  justify-content: center;
  align-items: center;
}



.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  bottom: 20px !important;
}


.swiper-pagination-bullet {
  width: 12px;
  height: 12px;  
  background-color: var(--color-scheme-1-text)!important ;
  opacity: 1;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-color: #fff!important; 
  transform: scale(1.2);
}

.swiper-pagination-bullet:hover {
  background-color: #7e57c2;
}


.custom-arrow {
  border: 1px solid var(--opacity-white-50);
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: var(--color-scheme-1-foreground);
}

.feedback-icon-right{
  fill:#fff
}
.custom-arrow{
  visibility: hidden;
}



/* ----------- button -------------- */
.feedback-btn {
  border-radius: 12px;
  padding: 10px 24px;
  width: 288px;
  height: 47px;
  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #764191;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-top: 16px;
  padding: 10px 78px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feedback-container {
   
    text-align: center;
  }
  .text-feedback {
    font-size: 26px;
  }
  .feedback-btn {
    border-radius: 12px;
    padding: 10px 24px;
    width: 158px;
    height: 47px;
    margin-top: 16px;
    padding: 10px 14px;
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .feedback {
    padding: 112px 0;
  }
  .text-feedback {
    font-size: 32px;
  }
  .feedback-btn {
    border-radius: 12px;
    padding: 10px 24px;
    width: 177px;
    height: 47px;
    margin-top: 80px;
    padding: 10px 24px;
    text-align: center;
  }
  .feedback-btn :hover {
    box-shadow:
      0 1px 2px 0 rgba(6, 3, 7, 0.05),
      inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
      inset 0 0 0 1px rgba(6, 3, 7, 0.15),
      inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
      inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #764191;
    opacity: 0.6;
  }
  .swiper {   
    height: 200px;
  }

 /* 1. Скидаємо стандартні стилі стрілок Swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "" !important; 
  display: none;
}

/* кнопкa-контейнер */
.custom-arrow {
  visibility: visible;
  position: static; 
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 48px;
  height: 48px;
  padding: 0; 
  
  background-color: var(--color-scheme-1-foreground);
  border: 1px solid var(--opacity-white-50);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Стилізуємо іконку */
.feedback-icon {
  fill: #fff; 
  stroke: #fff; 
  pointer-events: none; 
  transition: fill 0.3s ease;
}

.custom-arrow:hover {
  background-color: #fff;
}

.custom-arrow:hover .feedback-icon {
  fill: var(--color-scheme-1-foreground); 
  stroke: var(--color-scheme-1-foreground);
}
}




