.feedback {
  padding: 32px 16px;
  background: #060307;
  color: #fff;
  text-align: center;
}

.feedback .swiper {
  position: relative;
  width: 100%;
}

.feedback .swiper-wrapper {
  display: flex;
}

.item-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* важно для слайдов */
}

.stars-rating-feedback {
  margin-bottom: 16px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

.feedback-pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 8px;
}

.pagination-start,
.pagination-middle,
.pagination-end {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.swiper-pagination-bullet-active {
  background: #764191; /* акцент для активного */
}

/* отзыв */
.text-feedback {
  font-weight: 700;
  font-size: 24px;
  margin: 16px 0;
}

.text-name-feedback {
  font-weight: 600;
  font-size: 16px;
}
