.feedback-section {
  background-color: #000;

  color: #fff;
  padding: 60px 0;
}
/* Прихований заголовок для секції */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.stars-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
}
.star {
  font-size: 24px;

  color: #ffffff;
}

.star.filled {
  color: #7e57c2;
}
.swiper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  align-items: center;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #eee !important;
  transition:
    background-color 0.3s,
    transform 0.3s;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;

  background-color: #fff !important;
  transform: scale(1.2);
}

.custom-arrow {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: var(--color-scheme-1-foreground);
}

.feedback-text {
  font-size: 18px;
}
.feedback-user-name {
  margin-top: 32px;
  font-size: 18px;
}

/* ----------- button -------------- */
.feedback-btn {
  border-radius: 12px;
  padding: 10px 24px;
  width: 288px;
  height: 47px;
  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #764191;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-top: 16px;
  padding: 10px 78px;
  text-align: center;
}
.feedback-textarea {
  resize: none;
  height: 250px;
}
@media screen and (max-width: 767px) {
  .custom-arrow {
    visibility: hidden;
  }
}
/* -------------------- 768 ------------------- */
@media screen and (min-width: 768px) {
  .feedback {
    text-align: center;
  }
  .feedback-text {
    width: 518px;
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
  }
  .custom-arrow {
    visibility: visible;
  }
  .feedback-icon {
    width: 24px !important;
    fill: #fff !important;
    stroke: #fff !important;
    pointer-events: none;
    transition: fill 0.3s ease;
  }
  .feedback-btn {
    border-radius: 12px;
    padding: 10px 24px;
    width: 158px;
    height: 47px;
    margin-top: 16px;
    padding: 10px 14px;
    text-align: center;
  }
}
/* ------------------- 1440 ---------------- */
@media screen and (min-width: 1440px) {
  .feedback {
    text-align: center;
  }
  .feedback-text {
    font-weight: 700;
    font-size: 32px;
    width: 868px;
  }

  .feedback-btn {
    border-radius: 12px;
    padding: 10px 24px;
    width: 177px;
    height: 47px;
    margin-top: 80px;
    padding: 10px 24px;
    text-align: center;
  }
  .feedback-btn :hover {
    box-shadow:
      0 1px 2px 0 rgba(6, 3, 7, 0.05),
      inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
      inset 0 0 0 1px rgba(6, 3, 7, 0.15),
      inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
      inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #764191;
    opacity: 0.6;
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: '' !important;
    display: none;
  }

  /* кнопкa-контейнер */
  .custom-arrow {
    visibility: visible;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 0;
    background-color: rgb(from var(--color-scheme-1-foreground) r g b / 20%);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.8;
  }

  .custom-arrow:hover .feedback-icon {
    fill: var(--color-scheme-1-foreground);
    stroke: var(--color-scheme-1-foreground);
    opacity: 1;
  }
}

.custom-arrow:hover .feedback-icon {
  fill: var(--color-scheme-1-foreground);
  stroke: var(--color-scheme-1-foreground);
}
.custom-arrow {
  visibility: visible;
}
