.footer {
  background: #000;
  color: #fff;
  padding: 48px 0;
}

.footer > .container {
  padding: 0 20px;
}

.footer-top {
  text-align: center;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 32px;
}

.footer-nav {
  margin-bottom: 48px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer__nav-link:active {
  opacity: 0.7;
}

.footer-nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
}

.footer-nav-link:hover,
.footer-nav-link:focus-visible {
  text-decoration: underline;
}

.footer-bottom {
  position: relative;
  margin-top: 24px;
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
}

.footer-bottom::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
}

.footer-social-list {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.footer-social-icon {
  fill: #fff;
  transition: fill 0.3s ease;
  width: 40px;
  height: 40px;
}

.footer-social-item:nth-child(1) .footer-social-link:hover .footer-social-icon,
.footer-social-item:nth-child(1)
  .footer-social-link:focus-visible
  .footer-social-icon {
  fill: #c13584;
}

.footer-social-item:nth-child(2) .footer-social-link:hover .footer-social-icon,
.footer-social-item:nth-child(2)
  .footer-social-link:focus-visible
  .footer-social-icon {
  fill: #1877f2;
}

.footer-social-item:nth-child(3) .footer-social-link:hover .footer-social-icon,
.footer-social-item:nth-child(3)
  .footer-social-link:focus-visible
  .footer-social-icon {
  fill: #ea333e;
}

@media (min-width: 768px) {
  .footer {
    padding: 80px 0;
  }

  .footer > .container {
    padding: 0 32px;
  }

  .footer-nav {
    margin-bottom: 80px;
  }

  .footer-nav-list {
    flex-direction: row;
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
  }

  .footer-social-icon {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 1440px) {
  .footer > .container {
    padding: 0 64px;
  }

  .footer-bottom {
    align-items: center;
  }
  .footer__social-item {
    display: block;
    line-height: 0;
  }

  .footer-social-icon {
    width: 24px;
    height: 24px;
  }

  .footer-nav-link {
    position: relative;
  }

  .footer-nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s ease;
  }

  .footer-nav-link:hover::after,
  .footer-nav-link:focus::after {
    width: 100%;
  }

  .footer-nav-link:active {
    opacity: 0.7;
  }
}
